:root{
    --heading : #F6DED8;
    --elements :#F2B28C;
    --white : #FFFFFF;
    --black : #000000;
    --head : 36px ;
    --head1 : 32px;
    --par: 24px;

}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul
{
    list-style: none;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
body{
    font-family: 'Albert Sans';
    text-transform: capitalize;
    overflow: scroll;  
    background-color: #1D1616;
    color: #F6DED8;
}

.heading-txt{
    font-size: var(--head);
    color: var(--heading);
    font-weight: 600;
    text-decoration: underline 5px var(--elements) ;
}
.btn{
    padding: 5px 35px;
    font-size: 16px;
    background-color: var(--elements);
    color: #000000;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    font-weight: 600;
}
.btn :hover{
    background-color: var(--black);
    color: #F6DED8;
}


/* HEADER */

.header{
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 200px;
}

.nevbar {
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.nevbar ul li a {
    color: var(--heading);
    transition: text-shadow 0.3s ease;
}
.nevbar ul li a:hover {
    color: var(--elements);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}


/* BANNER */
.banner{
    margin-top: 190px;
    margin-bottom: 250px;
    position: relative;
}

.ele-1{
    position: absolute;
    top:-150px;
    right: 0;
    width: 200px;
}
.ele-2{
    position: absolute;
    bottom:-150px;
    left: 0;
    width: 200px;
}
.banner p{
    position: absolute;
    bottom:-150px;
    right: 0;
    width: 600px;
    text-align: right;
    color: var(--heading);
}

.banner h1{
    font-size: 30px;
    font-weight:700;
    width: 600px;
}


/* ABOUT US */

.col-4{
    padding: 20px;
}
.about-card{
    background-color: var(--heading);
}
.about-card h5{
    font-size: 25px;
    color: var(--black);
    font-weight: 800;
}
.about-card p{
    margin-bottom: 30px;
}
